.list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eeeeee;
  margin: 0 0.5em;
  padding: 10px;
}

.list:last-child {
  border: 0;
}

.list header {
  display: flex;
  align-items: center;
}

.list header img {
  width: 120px;
  border-radius: 50%;
  align-self: flex-start;
}

.list header h1 {
  margin: 0;
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  padding: 0 20px;
}

.list p {
  margin: 0.3em 0 0 0;
  font-size: 0.9em;
  font-style: italic;
}

@media only screen and (max-width: 480px) {
  .list img {
    width: 50px !important;
  }
}

@media only screen and (min-width: 768px) {
  .list header div {
    display: flex;
    flex-direction: column;
  }

  .list header div p {
    padding: 0 20px;
  }
}